{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}   

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>    
    <link rel="stylesheet" href="{{ relative }}doc/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ relative }}doc/stylesheets/pygment_trac.css">
    <script src="doc/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->		
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">TeleBall</h1>
        <p class="header">Build your own Arduino retro handheld game console</p>
        <ul>
            <li class="download"><a class="nrm_button" href="{{ relative }}index.html">Home</a></li>            
            <li class="download"><a class="nrm_button" href="{{ relative }}doc/play.html">Play</a></li>
            <li class="download"><a class="nrm_button" href="{{ relative }}doc/case.html">Case</a></li>
            <li class="download"><a class="nrm_button" href="{{ relative }}doc/electronics.html">Electronics</a></li>
            <li class="download"><a class="nrm_button" href="{{ relative }}doc/software.html">Software</a></li>
        </ul>
        <ul>
          <li class="download"><a class="buttons" href="https://github.com/sy2002/TeleBall/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/sy2002/TeleBall/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/sy2002/TeleBall">View On GitHub</a></li>
        </ul>
        <p class="header">This project is maintained by <a class="header name" href="http://www.sy2002.de">sy2002</a></p>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>